.Painting {
    position: relative;
    width: 900px;
    height: 800px;
}
.Label {
    $anim: 0.3s ease-out .1s;
    $animOut: 0.15s ease-out 0.15s;
    position: absolute;
    // width: 5px;
    // height: 5px;
    // background: red;
    opacity: 0;
    pointer-events: none;
    transform: scale(.75, .75);
    transition:
        transform $anim,
        opacity $anim;
    // transform: scale(1, 1);
    &--show {
        opacity: 1;
        // margin-top: 0;
        transform: scale(1, 1);
        // animation: showContainer .3s  linear 1 forwards;
    }
    &--hide {
        transition:
            transform $animOut,
            opacity $animOut;
        // opacity:  1;
        // margin-top: 0;
        // transform: scale(.75, .75);
        // animation: hideContainer .2s  linear 1 forwards;
    }
    &-rotate {
        display: block;
    }
    // border: 1px solid #000;
}

.LabelText {
    font-family: 'Titillium Web';
    position: absolute;

    transform: translate(calc(-50% + 78px), -100px);
    &--flip {
        transform: translate(calc(-50% + -73px), -100px);
    }
    text-align: center;
    white-space: nowrap;

    &-name {
        font-size: 22px;
        display: block;
        margin-bottom: 10px;
        color: #000;
    }
    &-percent {
        display: inline-block;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.8);
    }
    &-amount {
        margin-left: 10px;
        display: inline-block;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.8);
    }

    &-background {
        background-image: url(../images/label.png);
        background-repeat: no-repeat;
        width: 289px;
        height: 150px;
        display: block;
        position: absolute;
        transform: translate(-66px, -127px);
        &--flip {
            transform: translate(-217px, -127px) scale(-1, 1);
        }

    }
}

.Label-hit {
    // background: red;
    // width: 100px;
    // height: 100px;
    position: absolute;
    // opacity: 0.8;
    background: transparent;
    border-radius: 100%;
    cursor: pointer;
}

.Painting {
    position: relative;
    user-select: none;
}

.PaintControls {
    display: block;
    position: relative;
    &--disabled {
        // display: none;
    }
}

.Button {
    position: absolute;
    padding: 10px 20px;
    border-radius: 100px;
    font-family: 'Titillium Web';
    font-size: 1em;
    border: none;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0,0,0,0.6);
    // box-shadow: inset 1px 1px 20px rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    outline: none;
    line-height: 25px;
    transition:
        background .3s ease-out,
        color 0.3s ease-out,
        box-shadow 0.3s ease-out;
    &:not(:disabled) {
        cursor: pointer;
        &:hover, &:focus, &:active {
            background: rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
            color: rgba(0,0,0,0.9);
        }
    }
    &:visited, &:focus, &:active {
        text-decoration: none;
    }
    &--disabled {
        pointer-events: none;
        cursor: default;
        background: rgba(0, 0, 0, 0.06);
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
        color: rgba(0,0,0,0.3);
    }
    &--reset {
        top: 20px;
        left: 20px;
        transform: rotate(3deg);
    }
    &--download {
        top: 15px;
        right: 30px;
        transform: rotate(-1deg);
    }
}

.Offscreen {
    display: none;
}

.Checkbox {
    $cross1Transform: rotate(45deg) translate(6px, 6px);
    $cross2Transform: rotate(-35deg) translate(-3px, 5px);

    position: absolute;
    cursor: pointer;
    &--disabled {
        pointer-events: none;
        cursor: default;
    }

    &-label {
        display: inline-block;
        font-family: 'Titillium Web';
        line-height: 20px;
        transform: rotate(-5deg) translate(-2px, -8px);
        color: rgba(0,0,0,0.6);
        transition: color .3s ease-out;
    }
    &--disabled &-label {
        color: rgba(0,0,0,0.3);
    }
    &-field[type="checkbox"] {
        // width: 100px;
        //opacity: 0.5;
        appearance: none;
        &:hover + .Checkbox-box,
        &:focus + .Checkbox-box,
        &:active + .Checkbox-box {
            background: rgba(0, 0, 0, 0.2);
            box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
        }
        &:hover ~ .Checkbox-label,
        &:focus ~ .Checkbox-label,
        &:active ~ .Checkbox-label {
            color: rgba(0,0,0,0.9);
        }
        &:checked + .Checkbox-box {
            &:before {
                transform: $cross1Transform scale(1,1);
            }
            &:after {
                transform: $cross2Transform scale(1,1);
            }
        }
    }
    &-box {
        transform: rotate(3deg);// translate(3px, -8px);
        display:inline-block;
        width: 20px;
        height: 20px;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        // background:url(check_radio_sheet.png) left top no-repeat;
        background: rgba(0, 0, 0, 0.1);
        mix-blend-mode: multiply;
        transition:
            box-shadow .3s ease-out,
            background .3s ease-out;

        $pseudoTransformTransition: transform 0.1s ease-out;
        $pseudoOtherTransition: background 0.1s ease-out;
        &:before, &:after {
            content: '';
            display: block;
            background: #666;
            width: 17px;
            height: 2px;
            transform: $cross1Transform scale(0,1);
            border-radius: 20px;
        }
        &:before {
            transform: $cross1Transform scale(0,1);
            transition:
            $pseudoTransformTransition .1s,
                $pseudoOtherTransition;
        }
        &:after {
            transform: $cross2Transform scale(0,1);
            transition:
                $pseudoTransformTransition,
                $pseudoOtherTransition;
        }
    }
    &--disabled &-box {
        background: rgba(0, 0, 0, 0.06);
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
        &:after, &:before {
            background: #bbb;
        }
    }
    &--messy {
        left: 160px;
        top: 30px;
    }
}
