.#{$module}AssetLoader {
    // display: flex;
    // flex:1;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // min-height: 100vh;
    margin: 0 auto;
    font-family: 'Titillium Web';
    font-size: 2em;
    max-width: 900px;
    width: 100%;
    height: 800px;
    background: #efefef;
    border: 1px solid #ccc;
    border-radius: 4px;
    &-content {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
}
